
.idea/.idea.AsynchronousThreadSpeedVerify.dir/.idea/encodings.xml

.idea/.idea.AsynchronousThreadSpeedVerify.dir/.idea/indexLayout.xml

.idea/.idea.AsynchronousThreadSpeedVerify.dir/.idea/vcs.xml

SensorDataServer/.idea/.idea.SensorDataServer/.idea/

SensorDataServer/SensorDataServer/obj/
